@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 225, 225, 225;
  min-height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 235, 235, 235;
    --background-start-rgb: 30, 30, 30;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          rgb(var(--background-start-rgb)),
        rgb(var(--background-end-rgb))
    );
}

.globalSearch::-webkit-search-cancel-button {
  display: none;
}